div#header {
  background: url(air_photo.png);
  background-size: cover;
  background-position: center;
}

#logo {
  background: url(CSAFloripaSaraqua.png);
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#logo h1 {
  text-indent: -99999px;
}

.just-mobile {
  display: none;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.part {
  max-width: 100%;
}

img.stamp {
  max-width: 50%;
  display: block;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .not-mobile {
      display: none;
  }

  .just-mobile {
    display: block;
  }

  .just-mobile-w-100 {
    width: 100%;
  }
}

.card {
  background: transparent;
  text-transform: none;
  border-color: #aaa;
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
